@model List<WAPS08.Models.ViewModels.AutoTableViewModel>
@{
    ViewBag.Title = "Muetrario de Vehiculos en Venta";
    Layout = "~/Views/Shared/_LayoutAcceso.cshtml";
}
<style>
    div .cd {
        justify-content: center;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        border:groove;
    
    }
    .val{
       color:gray;
       text-align:center;
    }

    label {
        font-size:20px;
        display: inline-block;
        text-align: center;
        padding:4px;
    }

    form input {
       
        justify-content: center;
        text-align: center;
        padding: 0px;
        
        
    }
    .pr{
        display:inline-block;
    }

    .image {
        width:300px;
        height:200px;
    }

  
</style>

<h2>Vehiculos en Venta</h2>

<div class="row">
    <br />

    <div class="col-md-12">
        <input type="button" class="btn btn-primary btn-lg" onclick="document.location.href='@Url.Content("~/Auto/AddAuto")'" value="Nuevo" />
        <input type="button" class="btn btn-info btn-lg" value="Volver Atras" onclick="document.location.href = '@Url.Content("~/")'" />
    </div>

    <br />
    <br />
    <br />

    <div class="container-fluid">
        <div class="row ">

            @foreach (var oElemento in Model)
            {
                <div class="col-lg-4 ">
                    <div class="card shadow-sm">

                        <div class="card-body cd rounded-pill">

                            <h4 style="color:white">ID: @oElemento._Idauto </h4>

                            <img src="@oElemento._Imagen" class="image" alt="..."> <br>
                            
                            <label  class="pr" for="marca">Marca:  <label class="val">@oElemento._Marca</label> </label> <br>
                            <label for="modelo">Modelo:  <label class="val">@oElemento._Modelo</label> </label> 
                            <label for="anio">  Año: <label class="val">@oElemento._Anio</label></label> <br>
                            <label for="direccion">Direccion: <br><label class="val">@*@oElemento._Direccion*@</label></label> <br>
                            <label for="tv">Tipo Vehiculo:<label class="val">@*@oElemento._TipoVehiculo*@</label></label> <br>
                            <label for="color">Color:<label class="val">@*@oElemento._Color*@</label></label> 
                            <label for="precio">Precio:<label class="val">@*@oElemento._Preci*@o</label></label>
                          

                            <div class=" d-flex justify-content-between alingalign-items-center">
                                <input type="button" value="Borrar" class="btn btn-danger" onclick="jsDelete(@oElemento._Idauto);" />
                                <input type="button" value="Editar" class="btn btn-default" onclick="document.location.href = '@Url.Content("~/Auto/EditAuto/" + oElemento._Idauto)'" />
                            </div>

                        </div>
                    </div>
                </div>




            }

        </div>
    </div>


        
    </div>



<script>
    function jsDelete(Id) {
        if (confirm("Estas seguro de borrar?")) {
            url = "@Url.Content("~/Auto/Delete")" + "/" + Id;
            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Auto/query")"
                } else {
                    alert("Ocurrio un error :(")
                }
            })
        }
    }

</script>
