@model List<WAPS08.Models.ViewModels.UserTableViewModel>
@{
    ViewBag.Title = "Consulta Usuario";    
}


<style>
    div .cd {
        justify-content: center;
        text-align: center;
        font-size: 15px;
        padding: 30px;
        margin-bottom: 10px;
        border-radius: 25px;
        border-width: 200px;
        border-block: solid;
        writing-mode: horizontal-tb;
        border-block-color: #cbc7c7
    }

    label input {
        justify-content: center;
        text-align: center;
        padding: 5px;
        border: none;
    }
</style>


<div class="container-fluid">

    <div class="row">

        <div class="col-md-8">
            <h1 class="mb-4"> Consulta Usuarios </h1>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-success float-end" onclick="document.location.href = '@Url.Content("~/user/add")'">Agregar usuarios</button>
        </div>

    </div>

    <div class="row">


        @foreach (var oElemento in Model)
        {
            <div class="col-lg-4 cd">
                <div class="card shadow-sm">

                    <div class="card-body">


                        <h4>ID: @oElemento._Id </h4>
                        <label>Email <input type="text" value=@oElemento._Email disabled /></label>
                        <label>Edad  <input type="text" value=@oElemento._Edad disabled /></label>



                        <div class=" d-flex justify-content-between alingalign-items-center">
                            <div class="btn-group">
                                <input onclick="jsDelete(@oElemento._Id);"
                                       type="button"
                                       value="Borrar"
                                       class="btn btn-danger" />
                                <input onclick="document.location.href = '@Url.Content("~/User/Edit/" + oElemento._Id)'"
                                       type="button"
                                       value="Editar"
                                       class="btn btn-default" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        }

    </div>
</div>

<script>
    function jsDelete(Id) {
        if (confirm("Estas seguro de borrar?")) {
            url = "@Url.Content("~/User/Delete")" + "/" + Id;
            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/user/query")"
                } else {
                    alert("Ocurrio un error :(")
                }
            })
        }
    }

</script>